<!-- <img class="card-img" src="{{firm.imageFirm}}"/>
<h3>{{firm.nameFirm}}</h3>
<a class="card-link text-warning" [routerLink]="['/firms/', firm.id]">ReadMore</a> -->

<div class="wrapper">
    <div class="product-img">
      <img src="{{firm.imageFirm}}" height="320" width="320">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h3>Фірма: {{firm.nameFirm}}</h3>
        <!-- <h3>{{phone.model}}</h3> -->
        <!-- <a class="card-link text-warning" [routerLink]="['/firms/', firm.id]">ReadMore</a>  -->
      </div>
      <div class="product-price-btn">
        <button type="button" [routerLink]="['/firms/', firm.id]">Переглянути товари</button>
      </div>
    </div>
  </div>

