<div class="wrapper">
    <div class="product-img">
      <img src="{{phone.imageUrl}}" height="320" width="320">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h3>Модель: {{phone.model}}</h3>
        <h3>Ціна: {{phone.price}}</h3> 
        <h3>Дисплей: {{phone.display}}</h3>
        <h3>Камера: {{phone.camera}}</h3>
        <h3>Процесор: {{phone.processor}}</h3>
        <h3>Сховище: {{phone.storage}}</h3>
        <h3>Батерея: {{phone.battery}}</h3>
        <h3>Інше: {{phone.others}}</h3>     
      </div>
      <div class="product-price-btn">
        <button class="card-link text-warning">Купити</button>
      </div>
    </div>
  </div>

