<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div >
      
      <a class="navbar-brand" [routerLink]="['/home']">Phone-Store</a>
      
      <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="router-link-active">
          <a class="list-group-item list-group-item-action bg-light" [routerLink]="['/firms']">Firms</a>
        </li>
      </ul>

      <a href="#" class="list-group-item list-group-item-action bg-light">Smth</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">Smth</a>
      
      <!-- <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
      </div> -->

      <div *ngIf="loggedIn()" class="dropdown" dropdown>
        <button class="list-group-item list-group-item-action bg-light" dropdownToggle>
          Деталі...
        </button>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *dropdownMenu>
          <a class="dropdown-item" href="#"><i class="fa fa-user"></i>Редагувати акаунт</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>Вийти</a>
        </div>
      </div>

      <form *ngIf="!loggedIn()" #loginForm="ngForm" class="form-inline mt-2 mt-md-0"(ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" required [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required [(ngModel)]="model.password">
        <button class="btn btn-success my-2 my-sm-0" type="submit" style="border-color:#f39c12;color:white; background-color: #f39c12;">Login</button>
      </form>

    </div>
  </div>

  <div id="page-content-wrapper">  
  </div>
</div>



